body {
  font-family: sans-serif;
}

h1 {
  margin: 1rem;
}

form {
  display: flex;
}

label, input {
  margin: 0 0 0 1rem;
}

table {
  margin: 1rem 0 0 0;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #c9c9c9;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e7e7e7;
}